@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to make the calendar container responsive */
.calendar-container {
    margin: 20px;
}

/* Responsive styles for the calendar */
@media (max-width: 768px) {
    .calendar-container {
        margin: 10px;
    }
}

.remove-link-decoration {
    text-decoration: none;
    color: inherit;
}

.remove-link-decoration:hover {
    text-decoration: none;
    color: inherit;
}