@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to make the calendar container responsive */
.calendar-container {
    margin: 20px;
}

/* Responsive styles for the calendar */
@media (max-width: 768px) {
    .calendar-container {
        margin: 10px;
    }
}

.remove-link-decoration {
    text-decoration: none;
    color: inherit;
}

.remove-link-decoration:hover {
    text-decoration: none;
    color: inherit;
}

.event-cell {
    position: relative;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 999;
    display: block;
}

.tooltip ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tooltip li {
    margin-bottom: 5px;
}